* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'domine';
}

/* beer */

.beerCont {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 450px;
    left: 20px;
}

.beerCont::after {
    display: block;
    border-radius: 50%;
    content: '';
    background-color: rgba(255, 255, 255, 0.582);
    width: 40px;
    height: 280px;
    position: absolute;
    top: 14px;
    left: 10px;
    z-index: 1;
}

.beer-ear {
    width: 80px;
    height: 100px;
    background-color: black;
    border: 5px solid black;
    position: absolute;
    top: 80px;
    left: 180px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    z-index: 1;
}

.beer-ear::before {
    display: block;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    content: '';
    background-color: rgb(196, 194, 194);
    width: 65px;
    height: 89px;
    top: 0;
    z-index: 1;
}

progress {
    background-color: #f3f3f3;
    border: 0;
    bottom: 45px;
    left: -55px;
    position: absolute;
    width: 300px;
    height: 200px;
    border-radius: 2px;
    transform: rotate(-90deg);
    z-index: 1;
    border: 5px solid black;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

progress::-webkit-progress-value {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-image: linear-gradient(to right, rgb(239, 208, 7) 15%, rgb(239, 210, 21) 65%, rgb(254, 252, 234) 86%, rgb(254, 252, 234) 86%);
}

progress::-moz-progress-bar {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-image: linear-gradient(to right, rgb(239, 208, 7) 15%, rgb(239, 210, 21) 65%, rgb(254, 252, 234) 86%, rgb(254, 252, 234) 86%);
}

/* */

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.board {
    background-image: url(plansza.jpg);
    background-position: center;
    background-size: cover;
    height: 850px;
    background-color: black;
    width: 850px;
    position: relative;
}

.left-side {
    position: relative;
    width: 310px;
    height: 850px;
    background-color: rgb(196, 194, 194);
}

.player {
    position: absolute;
    width: 75px;
    height: 50px;
    border-radius: 0%;
    background-color: red;
    rotate: 0 deg;
}

/* CSS LICZNIKA CZASU */

.timeContainer {
    position: absolute;
    top: 15%;
    left: 20%;
    right: 20%;
    width: 60%;
    height: 20%;
    background-color: white;
    border: 10px solid black;
    border-radius: 50%;
}

.info {
    margin-top: 2rem;
    text-transform: uppercase;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 700;
}

.secs {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 3rem;
}

/* css pop-up'ów game over i epic win */

.popup {
    display: none;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 60%;
    font-family: 'montserrat';
    font-weight: bold;
    text-align: center;
    border: solid 5px #cdaf82;
    background-color: white;
    z-index: 1;
}

.winMsg {
    display: none;
}

.failMsg {
    display: none;
}

.gz {
    display: block;
    margin-top: 50px;
    font-size: 2.5rem;
    text-shadow: 1px 2px 5px black;
    text-transform: uppercase;
}

.victory {
    font-size: 3rem;
    color: rgb(27, 187, 27);
    margin-top: 10px;
    font-weight: bold;
    text-shadow: 1px 2px 5px black;
}

.brewio {
    color: #cdaf82;
}

.thx {
    margin: 30px 30px 0 30px;
    font-size: 1.5rem;
}

.playAgain {
    display: block;
    font-size: 1.3rem;
    border: 2px solid black;
    margin: 30px auto;
    border-radius: 10px;
    width: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.5s;
    color: black;
}

.playAgain:hover {
    background-color: #cdaf82;
    color: black;
}

.fail {
    font-size: 3rem;
    color: rgb(216, 29, 29);
    margin-top: 10px;
    font-weight: bold;
    text-shadow: 1px 2px 5px black;
}

.tryAgain {
    display: block;
    font-size: 1.3rem;
    border: 2px solid black;
    margin: 30px auto;
    border-radius: 10px;
    width: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.5s;
    color: black;
}

.tryAgain:hover {
    background-color: #cdaf82;
    color: black;
}

/* feature 23 */

.beer {
    position: absolute;
    width: 50px;
    height: 50px;
    background: yellow;
    border-radius: 50%;
}