* {
    box-sizing: border-box;
}

html body {
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Domine', serif; */
    background: black;
    color: white;
    margin: 0 auto;
}
.features {
    font-family: 'Domine', serif;
    font-size: 20px;
    /* margin: 15% 10%; */
    width: 80%;
    padding-top: 50px;
    padding-bottom: 150px;
    margin: 0 auto;

    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-gap: 1.2rem;
    justify-items: center;
    align-items: center;
}
.fh2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    /* margin: 2%; */
    padding: 2%;
    justify-self: left;
}
.fh2>p {
    font-weight: bold;
    color: #cdaf82;
    display: inline-block;
}

.fpar{
    background: black;
    font-family: 'Domine', serif;
    font-size: 1.4rem;
    padding: 5%;
    /* margin: 3%; */
    text-align: center;
    /* height: 90%; */
    border: 1px solid #cdaf82;
    /* background: linear-gradient(#000,#000,#000,#000,#000,#cdaf8248); */
}
.ficon {
    display: block;
    width: 50px;
    height: auto;
    margin: 5% auto;
}

/* tablet */

@media (min-width:768px) and (max-width:1024px) {

    .features {
        padding-top: 150px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
    }
    .fh2{
        grid-column: 1/span 3;
    }
    .fpar {
        height: 100%;
    }
    .ficon {
        width: 22%;
        height: auto;
        margin: 10% auto;
    }
}
/* desktop */

@media (min-width:1025px) {
    .features {
        padding-top: 150px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
    }
    .fh2{
        grid-column: 1/span 3;
    }
    .fpar {
        height: 100%;
    }
    .ficon {
        width: 23%;
        height: auto;
        margin: 10% auto;
    }
}