* {
    box-sizing: border-box;
}

html body {
    background: black;
    color: white;
    margin: 0 auto;
}

.team {
    font-family: 'Domine', serif;
    font-size: 20px;
    padding: 10%;
    /* margin: 15% 10%; */
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    justify-items: center;
    align-items: center;
}

.team_profile {
    font-family: 'Domine', serif;
    font-size: 1.4rem;
    /* padding: 5%; */
    /* margin: 5%; */
    text-align: center;
    /* height: 90%; */
    width: 100%;
    border: 1px solid #cdaf82;
    /* background: linear-gradient(#000,#000,#000,#000,#000,#cdaf8248); */
}

.tprofilephoto {
    border-radius: 500px;
    display: block;
    max-width: 250px;
    height: auto;
    margin: 0 auto;
    padding: 3%;
}

.linkedin, .webpage, .github {
    display: inline;
    width: 30px;
    height: auto;
    margin: 5%;
}

/* tablet */

@media (min-width:768px) and (max-width:1024px) {
    .team {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
    .linkedin, .webpage, .github {
        width: 30px;
        height: auto;
        /* margin: 10% auto; */
    }
}

/* desktop */

@media (min-width:1025px) {
    .team {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto;
    }
    .linkedin, .webpage, .github {
        width: 30px;
        height: auto;
        /* margin: 10% auto; */
    }
}